//MODAL LOGIN
.modal#modal-login
	.row
		.titulo.blue.darken-1
			h4.center INICIAR SESIÓN
		.row.social
			.col.s12.center
				a(href="https://i.ytimg.com/vi/u-oY1WKhI3E/hqdefault.jpg")
					button.btn INGRESA CON FACEBOOK
	.row.datos
		form(action="index-usuario.html")
			.input-field.col.s12
				i.material-icons.prefix account_circle
				input(type="text" id="usuario" required)
				label(for="usuario") Usuario
			.input-field.col.s12
				i.material-icons.prefix vpn_key
				input(type="password" id="pass" required)
				label(for="pass") Contraseña
	.row.botones
		.col.s6.center
			a
				button.btn-large.center.waves-effect(type="submit") Ingresar
		.col.s6.center
			a.modal-action.modal-close.btn-large.red.center.waves-effect Cerrar
		.col.s12.center
			a.btn-large.yellow.darken-1.center.olvide.waves-effect Olvidé mi Contraseña