doctype html
html(lang="es")
	head
		title Bodega
		include includes/head
	body
		//Menú Mobile
		include includes/mobile-menu

		//Menú
		header.navbar-fixed
			include includes/menu

		//Cuerpo
		.row.cuerpo
			a.btn-floating.btn-large.waves-effect.red(href="pedido.html")
				i.material-icons add
			.row.titulo.center
				h4 PEDIDOS
			.col.s10.offset-s1.tabla
				table.centered.striped
					thead
						th N
						th Fecha
						th Proveedor
						th Ver
					tbody
						-for(var i=0;i<5;i++)
							tr
								td #{i}
								td Fecha #{i}
								td Proveedor #{i}
								td
									a.btn.green(href="pedido.html")
										i.material-icons input